!!!
!!! XML
%html
  %head
    %title Ken Robertson's Twilio Resume
    %style{:type => "text/css", :media => "screen"}
      :plain
        body {
          font-family: Helvetica, Arial, Tahoma, sans-serif;
          background: #f3f3f3;
        }
        p {
          font-size: .8em;
          line-height: 1.4em;
          color: #333;
        }
        .textbox {
          padding: 0 10px;
          border: 1px solid black;
          background: #fff;
        }
        .codebox {
          padding: 10px;
          border: 1px solid black;
          background: #fff;
          overflow: auto;
        }
        .CodeRay {
          font-size: .9em;
        }
  %body
    %div{ :style => 'width: 900px; margin: 0 auto;'}
      %h1 Ken Robertson's Twilio Resume
      .textbox
        %p I appreciate you taking the time to look at my resume!  To listen to the resume on the phone, please call <strong>209-418-7947</strong>.  Below you will find the code and test coverage for the application.
        %p The application is powered by Sinatra, hosted on Heroku, and utilizes Webficient's Twilio gem.  It is tested using RSpec, rack/test, and Nokogiri.
        %p To contact me directly, please feel free to call me at <strong>209-642-6287</strong> or email me at <a href="mailto:ken@invalidlogic.com">ken@invalidlogic.com</a>.  To can also view a <a href="resume.pdf">PDF version</a> of my resume as well.

      %h1 The Sinatra App
      .codebox
        ~ CodeRay.scan(File.read('resume.rb'), :ruby).div(:line_numbers => :table)

      %h1 The Tests
      .codebox
        ~ CodeRay.scan(File.read('resume_spec.rb'), :ruby).div(:line_numbers => :table)
